<form>
  <div>
    <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
    <ul>
      <li>ERRORS</li>
    </ul>
  </div>
  <div class="input-field col s12 m3 l3">
    <input type="number" disabled />
    <label>ID</label>
  </div>
  <div class="input-field col s12 m4 l4">
    <input type="text" />
    <label>Name</label>
  </div>
  <div class="input-field col s12 m3 l3">
    <input type="number" />
    <label>CP</label>
  </div>
  <div class="input-field col s12 m2 l2">
    <button type="submit" class="btn waves-effect waves-light">
      Save
    </button>
  </div>
</form>
